<%- include('partials/header') %>

    <!--begin::App Main-->
    <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">Ubah Password</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item"><a href="#">Ubah Password</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </div>

                    <!--begin::table-->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Ubah Data Password</h3>
                            </div>
                            <div class="card-body p-0 m-3">
                                <form id="add-data-form">
                                    <div class="row">
                                        <div class="col-sm-6 mb-5">
                                            <label for="oldPassword" class="form-label">Password Lama</label>
                                            <div class="input-group mb-3">
                                                <input type="password" class="form-control" id="oldPassword"
                                                    placeholder="Password Lama">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    onclick="toggleOldPassword()"><i class="bi bi-eye-fill"></i></button>
                                            </div>

                                            <label for="newPassword" class="form-label">Password Baru</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="newPassword"
                                                    placeholder="Password Baru">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    onclick="toggleNewPassword()"><i class="bi bi-eye-fill"></i></button>
                                            </div>
                                        </div>
                                </form>
                            </div>
                            <div class="card-footer clearfix">
                                <div class="float-start">
                                    <Button class="btn btn-primary" type="submit" form="add-data-form">Simpan</Button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::table-->

                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">

            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content-->
    </main>
    <!--end::App Main-->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('add-data-form').addEventListener('submit', async e => {
                e.preventDefault()

                await changePassword()
            })
        })

        const toggleNewPassword = () => {
            const passwordField = document.getElementById('newPassword')
            const button = event.currentTarget
            if (passwordField.type === 'password') {
                passwordField.type = 'text'
                button.innerHTML = '<i class="bi bi-eye-slash-fill"></i>'
            } else {
                passwordField.type = 'password'
                button.innerHTML = '<i class="bi bi-eye-fill"></i>'
            }
        }

        const toggleOldPassword = () => {
            const passwordField = document.getElementById('oldPassword')
            const button = event.currentTarget
            if (passwordField.type === 'password') {
                passwordField.type = 'text'
                button.innerHTML = '<i class="bi bi-eye-slash-fill"></i>'
            } else {
                passwordField.type = 'password'
                button.innerHTML = '<i class="bi bi-eye-fill"></i>'
            }
        }

    </script>

    <%- include('partials/footer') %>