<%- include('partials/header') %>

  <!--begin::App Main-->
  <main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="mb-0">Data Hari Tutup</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="#">Hari Tutup</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>
          <!--begin::Row-->
          <!--begin::table-->
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Hari Tutup</h3>
                <div class="card-tools d-flex align-items-center gap-2">

                    <!-- Tombol tambah -->
                    <button class="btn btn-success d-flex align-items-center" id="add-btn">
                        <i class="bi bi-plus-lg me-1"></i> Tambah
                    </button>

                    <!-- Search -->
                    <div class="input-group" style="width: 280px;">
                        <input type="search" class="form-control" placeholder="Search" id="input-search" />
                        <button class="btn btn-primary" id="search-btn" type="button">Cari</button>
                    </div>

                    </div>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Tanggal</th>
                        <th>Keterangan</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody id="table-body">
                      <tr>
                        <td colspan="3" class="text-center">No Data Available.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer clearfix">
                <div id="page-info" class="float-start">
                  Page 1 of 1
                </div>
                <ul id="pagination" class="pagination pagination-sm m-0 float-end">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content Header-->
  </main>
  <!--end::App Main-->

  <!-- Modal Add / Edit -->
    <div class="modal fade" id="holidayModal" tabindex="-1">
        <div class="modal-dialog">
            <form id="holidayForm" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Tambah Hari Tutup</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Tanggal</label>
                    <input type="date" class="form-control" id="tanggal" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Keterangan</label>
                    <input type="text" class="form-control" id="keterangan" required>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary" id="saveBtn">Simpan</button>
            </div>
            </form>
        </div>
    </div>

  <script>
    document.addEventListener('DOMContentLoaded', async () => {

      modal = new bootstrap.Modal(document.getElementById('holidayModal'))

      document.getElementById('search-btn').addEventListener('click', async () => {
        await fetchHolidays()
      })

      await fetchHolidays()

      document.getElementById('add-btn').addEventListener('click', () => {
        mode = 'add'
        selectedTanggal = null
        document.getElementById('modalTitle').innerText = 'Tambah Hari Tutup'
        document.getElementById('holidayForm').reset()
        document.getElementById('tanggal').disabled = false
        modal.show()
      })

       document.getElementById('holidayForm').addEventListener('submit', async (e) => {
            e.preventDefault()

            await submitHoliday()

            modal.hide()
            await fetchHolidays()
       })
    })
  </script>

<%- include('partials/footer') %>